<div class="main-wrapper">
  <!-- LIGHT SECTION PAGE HEADER -->
  <%= render 'light_section_header', taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <!-- _PRODUCT_SIDEBAR -->
        <%= render 'product_sidebar', taxonomies: @taxonomies %>
        <!-- FILTER AREA AND PRODUCT BOX -->
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row">
            <%= render 'filter_area' %>
            <%= render partial: 'product_box', collection: @products, as: :product %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- LIGHT SECTION PICTURE BOX -->
  <%= render 'light_section_pictures' %>
</div>
