<% provide(:title, @product.name) %>

<div class="main-wrapper">
  <!-- LIGHT SECTION　-->
  <%= render 'light_section', product: @product %>
  <!-- MAIN CONTENT SECTION　-->
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'main_product', product: @product %>
      <% if @related_products.present? %>
        <div class="row productsContent">
          <div class="col-xs-12">
            <div class="page-header">
              <h4>関連商品</h4>
            </div>
          </div>
          <%= render partial: 'related_products', collection: @related_products, as: :related_product %>
        </div>
      <% end %>
    </div>
  </section>
</div>
